*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Verdana;
}

.contenedor{
	width: 90%;
	margin: 10px auto;
	overflow: hidden;
}

.titulo{
	width: 100%;
	border-bottom: 1px solid #BDC3C7;
}

.formulario{
	width: 100%;
	margin-top: 1%;
}

.modal-content{

}

.formulario-modal{
	width: 70%;
	margin: 30% auto;
	margin-top: 2%;
	margin-bottom: 2%;
	overflow: hidden;
}

.form-control-sm{
	margin-bottom: 10px;
}

/*ESTILOS PARA LA TABLA*/
.tabla{
	width: 100%;
}

table{
	width: 100%;
	margin-top: 20px;
}

th{
	padding: 3px;
	background: #5499C7;
	color: #FDFEFE;
}

tr:nth-child(odd) {
    background-color:#f2f2f2;
}
tr:nth-child(even) {
    background-color:#fbfbfb;
}

td{
	color: #626567;
	padding: 3px;
}